<div class="login-container">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        
        <div class="login-form p-5">
            <div class="d-flex align-items-center">
                <div>
                    <h3>Login</h3>
                    <p>Enter your account details to login</p>
                </div>
                
                <div class="ms-auto">
                    <i class="fa-solid fa-lock fa-2x"></i>
                </div>
            </div>

            <form [formGroup]="loginForm" (submit)="executeLogin()">
                <div class="mb-3 w-100 d-flex flex-column">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email">
                    @if(loginForm.get('email') && (loginForm.get('email')!.invalid 
                        && loginForm.get('email')!.touched)){
                        <small class="text-danger">Email is required</small>
                    }
                </div>
                <div class="mb-3 w-100 d-flex flex-column">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" formControlName="password">
                    @if(loginForm.get('password') && (loginForm.get('password')!.invalid 
                        && loginForm.get('password')!.touched)){
                        <small class="text-danger">Password is required</small>
                    }
                </div>
                <div class="d-flex flex-column">
                    <button type="submit" [disabled]="!loginForm.valid">Login</button>
                    <span class="d-flex mt-1">
                        <p class="me-2">Don't have an account?</p>  
                        <a type="button" routerLink="/sign-up">Create an account</a>
                    </span>
                </div>
            </form>
        </div>

    </div>
</div>